@import url(header.css);
@import url(main.css);
@import url(footer.css);


/* Definições gerais */
body, p, h1, h2, ul, li, a, h3{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #e7e7e7;
}

body p{
    font-size: 20px;
}

img {
    display: block;
    max-width: 100%; }


@media(prefers-color-scheme: dark){
    /* GERAL */
   body{
    background-color: #202020;
 }
   body p, h1, h3 {
    color: #e7e7e7;
   }
   footer{
    background-color: #303030;
    border-radius: 8px;
   }
   
   /* Outro */
   .bikcraft{
        filter:invert(100%);
    }
   
   
    .main-icones,
    .handmade{
        background-color: #404040;
        }
        
       .btn{
        background-color: rgb(172, 34, 22);
       }
 

        /* vantagens e icones */
        .grid-icones:nth-child(odd){
            background-color: #303030;
            border-radius: 4px;    
        }
            
        
        .vantagens{
    background-color: #202020;
    color: #e7e7e7;
    background-image: url(onda-escuro.svg);
   }
}